apiVersion: v1
kind: Secret
metadata:
  name: homelab-garden-local-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: "https://github.com/erauner12/homelab-garden.git"
  username: "erauner12"
  password: "replace-with-github-token"
